

.info{
    width: 35%;
    height: fit-content;
    padding: 1rem 0;
    background-color: #0098DE;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h1{
    color: #FFFFFF;
}
.info h2{
    color: #FFFFFF;
}
.info p{
    width: 85%;
    color: white;
}
.valores{
    width: 65%;
    text-align: center;
    place-self: center;
}
.valores img{
    margin-top: 5vh;
    width: 50%;
}
.valores h1{
    color: #0098DE;
}

.members{
    padding: 0 10%;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    height: 70vh;
    align-items: center;
    justify-content: center;

}

.membt{
    width: 30vw;
}
.membt h1{
    text-align: center;
    color: #0098DE;
}
.membt p{
    color: #979797;
    margin-top: 5vh;
    width: 95%;
}

.members img{
    width: 45%;
    margin-left: 10vw;
}

.servicoss{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    background: none;

}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(217, 240, 250, 0) 0%, #D9F0FA 17.61%, #D9F0FA 83.02%, rgba(217, 240, 250, 0) 100%);
    height: fit-content;
    
}
.services h1{
    color: #0098DE;

}
.servicoss img{
    width: 40%;
}
.servicos1, .servicos2 {
    display:grid;
    grid-template-columns: repeat(1 , 1fr);
    row-gap: 5vh;    
}

.service{
    display: flex;
    align-items: center;
}
.servicos1 .service {
    justify-content: flex-start;
    padding-right: 5%;
}
.servicos1 .service p{
    margin-left: 5%;
}

.servicos2 .service {
    justify-content: flex-end;
    padding-left: 5%;
}
.servicos2 .service p{
    margin-right: 5%;
}

.service p{
    text-align: left;
    justify-self: start;
    color: #979797;
}
.service img{
    width: 125px;
    height: 125px;
}
.buttonserv{
    margin-top: 5vh;
    width: 15rem;
    background-color: #0098DE;
    border-radius: 10px;
    text-align: center;
}

.qualidade{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}


.qualidade img{
    width: 50%;
    margin-top: 5vh;
}
#qmobile{
    display: none;
}

.qualidade h1{
    color: #0098DE;
}

.cor{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(217, 240, 250, 0) 0%, #D9F0FA 17.61%, #D9F0FA 83.02%, rgba(217, 240, 250, 0) 100%);
    height: 90vh;
}
.cor img{
    margin-top: 5vh;
    width: 30%;
}
.cor h1{
    color: #0098DE;
}
.cor p{
    color: #979797;

}
.cortex{
    margin-right: 9vw;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 50vh;
    width: 70%;
    text-align: right;
}
.cortex p{
    width: 15rem;
}
.objetivos{
    margin-left: 9vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 50vh;
    width: 70%;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: #0098DE;
    border-radius: 50%;
    display: inline-block;
  }

.buttonsel{
    margin-top: 5vh;
    margin-bottom: 0px;
}
.selective{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.selective h1, .selective p{
    color: #0098DE;
}

.sImg{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
}

#side{
    width: 10%;
}

#midle{
    margin-top: 10vh;
    width: 10%;
}

@media (max-width: 830px) {
    .info{
        width: 100%;
        height: fit-content;
        padding: 1rem 0;
        background-color: #0098DE;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .valores img{
        margin-top: 5vh;
        width: 100%;
    }

    .members{
        padding: 0;
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        justify-content: center;
    
    }
    .membt{
        width: 80vw;
    }

    .members img{
        width: 65%;
        height: 65%;
        padding: 5% 0 ;
        margin: 0;
    }

    .servicoss{
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        background: none;
        row-gap: 2vh;
    }
    .servicos1, .servicos2 {
        row-gap: 2vh;    
    }
    .service{
        display: flex;
        align-items: center;
    }
    .servicos1 .service {
        justify-content: flex-start;
        padding-right: 5%;
        padding-right: 0;
    }
    .servicos1 .service p{
        margin-left: 5%;
    }
    
    .servicos2 .service {
        justify-content: flex-end;
        flex-direction: row-reverse;
        padding-left: 0;
        padding-right: 0;
    }
    .servicos2 .service p{
        margin-right: 0;
        margin-left: 5%;
    }

    .service img{
        width: 100px;
        height: 100px;
    }

    .qualidade{
        height: fit-content;
        padding: 5% 0;
    }

    .qualidade img{
        width: 50%;
        margin-top: 5vh;
    }
    #qmobile{
        display: block;
    }
    #qdesktop{
        display: none;
    }

    .cor{
        display:block;
        height: fit-content;
    }
    .cortex , .objetivos{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
        width: 100%;
        text-align: left;
    }
    .cortex p, .objetivos p{
        width: 80%;
    }
    .objetivos p{
        text-align: initial;
    }

}
@media (max-width: 500px) {
    .qualidade img{
        width: 80%;
    }
}